DesktopClientToService/Connected Services/ServiceRefBid/WcfServiceWithDatabaseAccess.ModelLayer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceWithDatabaseAccess.ModelLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceWithDatabaseAccess.ModelLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Bid">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuctionId" type="xs:int" />
      <xs:element minOccurs="0" name="BidAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bid" nillable="true" type="tns:Bid" />
</xs:schema>