DesktopClientToService/Connected Services/ServiceRefAdmin/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfServiceWithDatabaseAccess.ModelLayer" />
  <xs:element name="CreateAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceWithDatabaseAccess.ModelLayer" minOccurs="0" name="adminToCreate" nillable="true" type="q1:Admin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceWithDatabaseAccess.ModelLayer" minOccurs="0" name="CreateAdminResult" nillable="true" type="q2:Admin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdminByEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emailToLookUp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdminByEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServiceWithDatabaseAccess.ModelLayer" minOccurs="0" name="GetAdminByEmailResult" nillable="true" type="q3:Admin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>