DesktopClientToService/Connected Services/ServiceRefAuction/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AuctionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfServiceWithDatabaseAccess.ModelLayer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuctionService_GetAuctionById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAuctionById" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_GetAuctionById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAuctionByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_CreateAuction_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAuction" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_CreateAuction_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAuctionResponse" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_DeleteAuction_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAuction" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_DeleteAuction_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAuctionResponse" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_ModifyAuction_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyAuction" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_ModifyAuction_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyAuctionResponse" />
  </wsdl:message>
  <wsdl:portType name="IAuctionService">
    <wsdl:operation name="GetAuctionById">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuctionService/GetAuctionById" message="tns:IAuctionService_GetAuctionById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuctionService/GetAuctionByIdResponse" message="tns:IAuctionService_GetAuctionById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateAuction">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuctionService/CreateAuction" message="tns:IAuctionService_CreateAuction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuctionService/CreateAuctionResponse" message="tns:IAuctionService_CreateAuction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAuction">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuctionService/DeleteAuction" message="tns:IAuctionService_DeleteAuction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuctionService/DeleteAuctionResponse" message="tns:IAuctionService_DeleteAuction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyAuction">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuctionService/ModifyAuction" message="tns:IAuctionService_ModifyAuction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuctionService/ModifyAuctionResponse" message="tns:IAuctionService_ModifyAuction_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAuctionService" type="tns:IAuctionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAuctionById">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/GetAuctionById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAuction">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/CreateAuction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAuction">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/DeleteAuction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyAuction">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/ModifyAuction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuctionService">
    <wsdl:port name="BasicHttpBinding_IAuctionService" binding="tns:BasicHttpBinding_IAuctionService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServiceWithDatabaseAccess.ServiceAccessLayer/AuctionService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>