DesktopClientToService/Connected Services/ServiceRefAuction/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfServiceWithDatabaseAccess.ModelLayer" />
  <xs:element name="GetAuctionById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="auctionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuctionByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceWithDatabaseAccess.ModelLayer" minOccurs="0" name="GetAuctionByIdResult" nillable="true" type="q1:Auction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAuction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceWithDatabaseAccess.ModelLayer" minOccurs="0" name="auctionToCrate" nillable="true" type="q2:Auction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAuctionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServiceWithDatabaseAccess.ModelLayer" minOccurs="0" name="CreateAuctionResult" nillable="true" type="q3:Auction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAuction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="auctionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAuctionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServiceWithDatabaseAccess.ModelLayer" minOccurs="0" name="DeleteAuctionResult" nillable="true" type="q4:Auction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyAuction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="timeLeft" type="xs:decimal" />
        <xs:element minOccurs="0" name="payment" type="xs:boolean" />
        <xs:element minOccurs="0" name="result" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="paymentDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="productName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productDescription" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyAuctionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfServiceWithDatabaseAccess.ModelLayer" minOccurs="0" name="ModifyAuctionResult" nillable="true" type="q5:Auction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>