DesktopClientToService/Connected Services/ServiceRefAuction/WcfServiceWithDatabaseAccess.ModelLayer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceWithDatabaseAccess.ModelLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceWithDatabaseAccess.ModelLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Auction">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuctionId" type="xs:int" />
      <xs:element minOccurs="0" name="Payment" type="xs:boolean" />
      <xs:element minOccurs="0" name="PaymentDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeLeft" type="xs:decimal" />
      <xs:element minOccurs="0" name="product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Auction" nillable="true" type="tns:Auction" />
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuctionId" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
</xs:schema>